
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-top  padding-y">
			<div class="row">
				<aside class="col-md-4 col-12">
					<article class="mr-md-4">
						<h5 class="title">Contact us</h5>
						<p>Just Feel Free to Contact Us!</p>
						<ul class="list-icon">
							<li> <i class="icon fa fa-map-marker"> </i>Kampli, Karnataka </li>
							<li> <i class="icon fa fa-envelope"> </i> swamy@gmail.com</li>
							<li> <i class="icon fa fa-phone"> </i>  9743695707)</li>
							<li> <i class="icon fa fa-clock"> </i>Mon-Sat 10:00pm - 7:00pm</li>
						</ul>
					</article>
				</aside>
				<aside class="col-md col-6">
					<h5 class="title">Information</h5>
					<ul class="list-unstyled">
						<li> <a href="#">About us</a></li>

						<li> <a href="#">Rules and terms</a></li>
						<!-- <li> <a href="#">Sitemap</a></li> -->
					</ul>
				</aside>
				<aside class="col-md col-6">
					<h5 class="title">My Account</h5>
					<ul class="list-unstyled">
						<li> <a href="https://wa.me/+919743695707?text=I Have a Query Be Help me with it">Contact us for any query </a></li>
						<li> <a href="#">Order status</a></li>
						<li> <a href="#">Shipping info</a></li>
					</ul>
				</aside>
				<aside class="col-md-4 col-12">
					<h5 class="title">Newsletter</h5>
					<p>Its a New and Growing E-commerce Platform in India </p>

					<br>

					<!-- <form class="form-inline mb-3">
						<input type="text" placeholder="Email" class="form-control" name="">
						<button class="btn ml-2 btn-warning"> Subscribe</button>
					</form> -->

					<h6 class="text-red-50 mb-2">Follow us on social media</h6>
					<br>
					<div>
						<a href="https://www.facebook.com/swamydotcom/" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="btn btn-icon btn-light"><i class="fab fa-twitter"></i></a>
						<a href="https://www.instagram.com/coobs_in/" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
						<a href="#" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
					</div>

				</aside>
			</div> <!-- row.// -->
		</section> <!-- footer-top.// -->

		<section class="footer-bottom border-top row">
			<div class="col-md-6">
				<p class="mb-0">
					<a href="">Terms and Conditions</a> |
					<a href="">Privacy</a> |
					<a href="">Cookies</a>
				</p>
			</div>
			<div class="col-md-6 text-md-right">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
				<i class="fab fa-amazon-pay"></i>
				<i class="fab fa-google-pay"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));

		})
	})
</script>

 </body>
</html>
